<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TicketSales</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Ticket Sales</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/toastr/toastr.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="~/css/owl.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header class="header-area header-sticky">
            <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                            <a href="@Url.Action("Index", "Home")" class="logo">
                            <img src="~/images/logo.png" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Search End ***** -->
                        <div class="search-input">
                                <form id="search" asp-controller="Events" asp-action="Search" method="get">
                                    <input type="text" placeholder="Type Something" id='searchText' name="searchQuery"/>
                                <i class="fa fa-search"></i>
                            </form>
                        </div>
                        <!-- ***** Search End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            
                            <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                            <li>@Html.ActionLink("Search", "Search", "Events", null)</li>
                            <li>@Html.ActionLink("My Events", "MyEvents", "Events", null)</li>
                            <li><a asp-action="Index" asp-controller="Cart">
                                    <i class="fa-solid fa-cart-shopping me-1"></i>Cart 
                                    (<span id="cartCount"></span>)
                                </a>
                            </li>
                            <li>@Html.ActionLink("Logout", "Logout", "Users", null)</li>
                            @* <li><a href="profile.html">Profile <img src="~/images/profile-header.jpg" alt=""></a></li> *@
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    }

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                </div>
            </div>
        </div>
    </div>


    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/toastr/toastr.min.js"></script>
    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/tabs.js"></script>
    <script src="~/assets/js/popup.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function updateCartCount() {
            $.ajax({
                url: '/Cart/GetCartCount',
                type: 'GET',
                success: function (data) {
                    $('#cartCount').text(data);
                }
            });
        }

        $(document).ready(function () {
            updateCartCount();
            
            $('.add-to-cart').click(function () {
                let ticketId = $(this).data('ticket-id');
                let ticketType = $(this).data('ticket-type');
                let eventId = $(this).data('event-id');
                let eventDate = $(this).data('event-date');
                var description = $(this).data('description');
                var quantity = 1;
                var price = $(this).data('price');

                $.ajax({
                    url: '@Url.Action("AddToCart", "Cart")',
                    type: 'POST',
                    data: {
                        ticketId: ticketId,
                        eventId: eventId,
                        eventDate: eventDate,
                        description: description,
                        ticketType: ticketType,
                        quantity: quantity,
                        price: price
                    },
                    success: function (response) {
                        // Handle success (you can redirect, show a message, etc.)
                        toastr.options.positionClass = 'toast-bottom-right';
                        toastr.info('Ticket added to Cart !')
                        updateCartCount();
                    },
                    error: function (error) {
                        // Handle error
                        console.log(error);
                    }
                });
            });// Update count when the page loads
        });
    </script>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
